html {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14pt;
}

h2 {
  font-size: 36pt;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  line-height: 25px;
}

a {
  text-decoration: none;
  color: black;
}

.home-img {
  z-index: -1;
  padding-top: 90px;
  padding-bottom: 30px;
  width: 80%;
  height: auto;
  text-align: center;
  display: block;
  margin: 0 auto;
}

#enter {
  font-size: 0.9rem;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  padding: 0.7rem 2rem;
  text-align: center !important;
  border: 0.1rem solid black;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 37px;
  display: block;
  margin: 0 auto;
}

#enter:hover {
  cursor: pointer;
  background-color: pink;
  color: #fbfbfb;
  transition: background-color 150ms, color 150ms;
}

#quiz-container {
  display: none;

#result {
    display: none;
}