html {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14pt;
}

h2 {
  font-size: 36pt;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  line-height: 25px;
}

a {
  text-decoration: none;
  color: black;
}

.home-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
  width: 100%;
}

#enter {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem 6rem;
  text-align: center !important;
  border: 0.1rem solid #FFD989;
  text-decoration: none;
  color: #3B2921;
  background-color: #FFD989;
  border-radius: 37px;
  display: inline-block;
}

#enter:hover {
  cursor: pointer;
  background-color: pink;
  color: #fbfbfb;
  transition: background-color 150ms, color 150ms;
}

#quiz-container {
  display: none;

#result {
    display: none;
}